{% extends "polls/base.html" %}
{% block content %}

<div id="home" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

  <div class="landing-text">

      <h1>Tekst</h1>
      <h3>Mere tekst</h3>
      <button type="button" class="btn btn-secondary">Læs mere</button>
  </div>

</div>

<div id="projects" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <ul>
    <li>Ruby on rails project</li>
    <li>Game made with unity</li>
    <li>Game made from own game engine</li>
    <li>Ruby on rails project</li>
    <li>Game made with unity</li>
    <li>Game made from own game engine</li>
    <li>Ruby on rails project</li>
    <li>Game made with unity</li>
    <li>Game made from own game engine</li>
  </ul>
</div>

<div id="about" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="landing-text">

      <h1>Hvem er jeg?</h1>
      <h3>En eller anden dude der ikke ved hvad han skal skrive her.</h3>
      <button type="button" class="btn btn-secondary">Læs mere</button>
  </div>
</div>

{% endblock content %}
