{% extends "polls/base.html" %}
{% block content %}

<div class="tdStyle">

<div class="back-section">
  <p id="p01">
    <ul>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
    </ul>
  </p>
</div>
</div>

{% endblock content %}
