{% extends "polls/base.html" %}
{% block content %}

<!-- HOME PAGE START -->
<div id="home">
  <h1>
    <b> Jann Jacobsen </b>
  </h1>
  <p id="p01">
  Some text displaying the homepage with cool pictures consisting of<br>
  one paragraph though it has been split up into different sections<br>
  </p>
  <hr>
</div>
<!-- HOME PAGE END -->
<!-- -->
<!-- -->
<!-- -->
<!-- PROJECT PAGE START -->
<div id="projects">
  <h1>
    <b> Projects </b>
  </h1>
  <p id="p01">
    <ul>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
    </ul>
  </p>
  <hr>
</div>
<!-- PROJECT PAGE END -->
<!-- -->
<!-- -->
<!-- -->
<!-- ABOUT PAGE START -->
<div id="about">
  <h1>
    <b> About </b>
  </h1>
  <p id="p01">
    <q>Something basic about me</q> <br>
  </p>

  <!-- Kontaktinfo: Der skal indsættes ikoner og links til sociale medier
  og tooltips når man hover henover noget information eller et ikon -->
  <font size="2">
    <address>
      Jann 'JannTheMan' Jacobsen <br>
      5000 Odense C <br>
      Tlf. +45 20 85 40 42 <br>
      E-mail: jann-david77@live.dk <br>
      <a href="#">See my ruby projects</a> <br>
      <a href="#">linkedin</a>
      <a href="#">instagram</a>
      <a href="#">mail</a>
      <a href="#">github</a>
    </address>
  </font>
</div>
<!-- ABOUT PAGE END -->

{% endblock content %}
