<!DOCTYPE html>
<html>

<!-- Skal have oversættelser på dansk, engelsk, færøsk og fransk -->

  <head>
    <title> JannTheMan's website and portfolio </title>
  </head>

  <body style="background-color:Ivory;">

    <!-- Home page content -->
    <!-- Mangler: stil og shabang -->
    <div>
      <h1>
        <b> Jann Jacobsen </b>
      </h1>
        <p style="color:grey">
          Some text displaying the homepage with cool pictures consisting of<br>
          one paragraph though it has been split up into different sections<br>
        </p>
      <hr>
    </div>

    <!-- Projects content -->
    <!-- Mangler: link til ny hjemmeside og projekter -->
    <div>
      <h1>
        <b> Projects </b>
      </h1>
        <p>
          <!-- Projekter, dog skal mit RoR linkes til, når man hover
               over et projekt skal der komme et forklarende tool tip -->
          <ul style="color:grey">
            <li>Ruby on rails project</li>
            <li>Game made with unity</li>
            <li>Game made from own game engine</li>
          </ul>
        </p>
      <hr>
    </div>

    <!-- About me content -->
    <!-- Mangler: stil og shabang og rigtig information -->
    <div>
      <h1>
        <b> About </b>
      </h1>
      <p style="color:grey">
        <q>Something basic about me</q> <br>
      </p>

      <!-- Kontaktinfo: Der skal indsættes ikoner og links til sociale medier
           og tooltips når man hover henover noget information eller et ikon -->
      <font size="2">
        <address style="color:grey">
          Jann 'JannTheMan' Jacobsen <br>
          5000 Odense C <br>
          Tlf. +45 20 85 40 42 <br>
          E-mail: jann-david77@live.dk <br>
          My RoR site: <b>link til ruby on rails hjemmeside </b> <br>
          *linkedin icon* *instagram icon* *mail icon* *github icon*
        </address>
      </font>
      <hr>
    </div>

  </body>

</html>
