{% extends "polls/base.html" %}

{% block content %}



<div id="project-landing">

</div>






<div class="padding">

<div class="container">

<div class="row">

  <div class="card project-1 col-lg-6 col-md-6 col-sm-6 col-xs-12" style="width: 18rem;">
    <img class="card-img-top" src="/static/polls/images/kort1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Polls app</h5>
      <p class="card-text">Following the Django documentation, this was one of the first
        apps I implemented. It offers standard functions.</p>
      <a href="#" class="btn btn-primary">view code</a>
    </div>
  </div>

  <div class="card project-1 col-lg-6 col-md-6 col-sm-6 col-xs-12" style="width: 18rem;">
    <img class="card-img-top" src="/static/polls/images/kort1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Blog app</h5>
      <p class="card-text">A simple blog using the Django framework. I by implementing a pretty
        layout and structure with help from Bootstrap 4.</p>
      <a href="#" class="btn btn-primary">view code</a>
    </div>
  </div>

  <div class="card project-1 col-lg-6 col-md-6 col-sm-6 col-xs-12" style="width: 18rem;">
    <img class="card-img-top" src="/static/polls/images/kort1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Ruby on Rails</h5>
      <p class="card-text">A beautiful website developed with the Ruby on Rails framework.
      A lot of effort was put into the interactive design.</p>
      <a href="#" class="btn btn-primary">view code</a>
    </div>
  </div>

  <div class="card project-1 col-lg-6 col-md-6 col-sm-6 col-xs-12" style="width: 18rem;">
    <img class="card-img-top" src="/static/polls/images/kort1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Unity Game</h5>
      <p class="card-text">Having learned one web framework, I speculated about creating one
        more. So I did! And the outcome was quite satisfying.</p>
      <a href="#" class="btn btn-primary">view code</a>
    </div>
  </div>

  <div class="card project-1 col-lg-6 col-md-6 col-sm-6 col-xs-12" style="width: 18rem;">
    <img class="card-img-top" src="/static/polls/images/kort1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Game Engine</h5>
      <p class="card-text">Game development has always been a dream of mine. Therefore, I
        tried creating a little game with some custom physics scripts.</p>
      <a href="#" class="btn btn-primary">view code</a>
    </div>
  </div>

  <div class="card project-1 col-lg-6 col-md-6 col-sm-6 col-xs-12" style="width: 18rem;">
    <img class="card-img-top" src="/static/polls/images/kort1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Inventory Tool</h5>
      <p class="card-text">I was really bored when the covid-19 virus outbreak came to be. Instead
        of laughing at people being overly hysteric, I had a bit of fun.</p>
      <a href="#" class="btn btn-primary">view code</a>
    </div>
  </div>


</div>

</div>

</div>







<div class="padding">

<div class="container">

<div class="row">

  <div class="project-1 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h3>Polls app</h3>
    <p>Following the Django documentation, this was one of the first
      apps I implemented. It offers standard functions.</p>
      <hr>
  </div>

  <div class="project-1 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h3>Blog app</h3>
    <p>A simple blog using the Django framework. I by implementing a pretty
      layout and structure with help from Bootstrap 4.</p>
      <hr>
  </div>

  <div class="project-1 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h3>Ruby on rails</h3>
    <p>A beautiful website developed with the Ruby on Rails framework.
    A lot of effort was put into the interactive design.</p>
    <hr>
  </div>

  <div class="project-1 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h3>Unity Game</h3>
    <p>Having learned one web framework, I speculated about creating one
      more. So I did! And the outcome was quite satisfying.</p>
    <hr>
  </div>

  <div class="project-1 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h3>Game Engine</h3>
    <p>Game development has always been a dream of mine. Therefore, I
      tried creating a little game with some custom physics scripts.
    </p>
    <hr>
  </div>

  <div class="project-1 col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <h3>Inventory Tool</h3>
    <p>I was really bored when the covid-19 virus outbreak came to be. Instead
      of laughing at people being overly hysteric, I had a bit of fun.
    </p>
    <hr>
  </div>


</div>

</div>

</div>

{% endblock content %}
