<!-- HOME PAGE START -->
<div class="container", id="home">
  <h1>
    <b> Indledende tekst </b>
  </h1>
  <p id="p01">
  Some text displaying the homepage with cool pictures consisting of<br>
  one paragraph though it has been split up into different sections<br>
  </p>
  <hr>
</div>
<!-- HOME PAGE END -->
<!-- -->
<!-- -->
<!-- -->
<!-- PROJECT PAGE START -->
<div id="projects">
  <h1>
    <b> Projects </b>
  </h1>
  <p id="p01">
    <ul>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
      <li>Ruby on rails project</li>
      <li>Game made with unity</li>
      <li>Game made from own game engine</li>
    </ul>
  </p>
  <hr>
</div>
<!-- PROJECT PAGE END -->
<!-- -->
<!-- -->
<!-- -->
