{% extends "blog/base.html" %}

  {% block blog_content %}
  <!-- 'posts' er konteksten vi sendte med fra view-funktionen -->

    {% for post in posts %}

    <article id="blog-post" class="container">

      <div class="row">

        <div id="small-profile" class="col-lg-3 col-md-12 col-sm-12 col-xs-12">

              <a href="#">
                <img class="blog-picture"
                src="{{ post.author.profile.image.url }}">
              </a>

            <a href="#"> {{ post.author }} </a>
            <p>"Maecenas nec lacus sed ante fringilla commodo vel et ipsum.
                Vestibulum laoreet, lorem non rhoncus consequat, lacus diam
                tempus dolor, a volutpat ante diam sed velit. Quisque vestibulum."
            </p>
          </div>

        <!-- Content section of post-->
        <div id="post-content" class="col-lg-9 col-md-12 col-sm-12 col-xs-12">

          <div id="post-meta-data">
            <small>{{ post.date_posted | date:"F d, Y" }}</small>
          </div>

            <h2><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p>"Maecenas nec lacus sed ante fringilla commodo vel et ipsum.
                Vestibulum laoreet, lorem non rhoncus consequat, lacus diam
                tempus dolor, a volutpat ante diam sed velit. Quisque vestibulum
                lectus in nisi sollicitudin, vitae iaculis tellus aliquam. Etiam
                nunc est, pretium in auctor eu, imperdiet quis lectus. In hack
                Quisque vestibulum
                lectus in nisi sollicitudin, vitae iaculis tellus aliquam. Etiam
                nunc est, pretium in auctor eu, imperdiet quis lectus. In hack.
                vitae iaculis tellus aliquam. a volutpat ante."</p>
        </div>

      </div>
    </article>

  {% endfor %}

  {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}

{% endblock blog_content %}
