html. body {
  height: 100%;
  width: 100%;
}

.navbar {
  background-color: #264d73;
}

.navbar-brand {

}

.navbar-default .navbar-nav li a {
  color: #D5D5D5;
}

#home {
  background: url("/static/polls/images/fo2.jpeg") no-repeat center center fixed;
  display: table;
  height: 750px;
  width: 100%;
  position: relative;
  background-size: cover;
}

.landing-text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;;
}


#about {
  background: url("/static/polls/images/fo.jpg") no-repeat center center fixed;
  display: table;
  height: 750px;
  width: 100%;
  position: relative;
  background-size: cover;
}

#projects {

  height: 300px;
  opacity: 0.8;
}
