{% extends "blog/base.html" %}
{% block blog_content %}

  <div class="content section">

    <form method="POST">

      {% csrf_token %}

      <fieldset>

        <legend class="border-bottom mb-4">Register Now!</legend>
        {{ form }}

      </fieldset>

      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Register</button>
      </div>

    </form>

    <div class="border-top pd-3">

      <small class="text-muted">
        If you have an account login <a class="ml-2" href="#">Here</a>
      </small>

    </div>


  </div>

{% endblock blog_content %}
